<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreMi</title>
</head>

<body>
    <header>
        <div><a href="../index.html">HOME</a></div>
        <div><a href="sobremi.html">SOBRE MI</a></div>
        <div><a href="charlas.html">CHARLAS</a></div>
        <div><a href="asesorias.html">ASESORIAS</a></div>
        <div><a href="contacto.html">CONTACTO</a></div>
    </header>
    <main>
        <div>
            <h2>FORMACIÓN ACADÉMICA</h2>
        </div>

        <div>
            <img src="../assets/maxresdefault.jpg" alt="imagen Facultad de Veterinaria Rio Cuarto">
        </div>

        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt justo eget tortor porttitor
            ornare. Phasellus finibus ullamcorper gravida. Donec pulvinar cursus lacus ac pulvinar. Sed vitae
            viverra
            nibh, vitae posuere quam. Morbi aliquam malesuada porta. In facilisis leo quam, pharetra aliquam sem
            bibendum vitae. Mauris ac mi sed ipsum tempor tincidunt sed nec orci. Maecenas lobortis eget orci vitae
            efficitur. Donec tristique lectus eu neque dignissim finibus. Cras nulla sem, pretium pellentesque est
            vel,
            laoreet finibus tellus. Fusce sodales nibh sed gravida volutpat. Maecenas accumsan massa vitae
            consectetur
            aliquet. Cras ut libero non nisi efficitur varius. Proin porta nisi elit, et elementum tellus dignissim
            ut.
            Mauris nec tristique sem.
        </div>
        <div>
            <h2>ROL A NIVEL NACIONAL EN ARGENTINA</h2>
        </div>
        <div>
            <img src="../assets/MotivarLive-Brunoni.jpg" alt="imagen Inta">
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt justo eget tortor porttitor
            ornare. Phasellus finibus ullamcorper gravida. Donec pulvinar cursus lacus ac pulvinar. Sed vitae
            viverra
            nibh, vitae posuere quam. Morbi aliquam malesuada porta. In facilisis leo quam, pharetra aliquam sem
            bibendum vitae. Mauris ac mi sed ipsum tempor tincidunt sed nec orci. Maecenas lobortis eget orci vitae
            efficitur. Donec tristique lectus eu neque dignissim finibus. Cras nulla sem, pretium pellentesque est
            vel,
            laoreet finibus tellus. Fusce sodales nibh sed gravida volutpat. Maecenas accumsan massa vitae
            consectetur
            aliquet. Cras ut libero non nisi efficitur varius. Proin porta nisi elit, et elementum tellus dignissim
            ut.
            Mauris nec tristique sem.
        </div>
        <div>
            <h2>PROYECTOS INTERNACIONALES</h2>
        </div>
        <div>
            <img src="../assets/maxresdefault (1).jpg" alt="Imagen Proyectos Internacionales">
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt justo eget tortor porttitor
            ornare. Phasellus finibus ullamcorper gravida. Donec pulvinar cursus lacus ac pulvinar. Sed vitae
            viverra
            nibh, vitae posuere quam. Morbi aliquam malesuada porta. In facilisis leo quam, pharetra aliquam sem
            bibendum vitae. Mauris ac mi sed ipsum tempor tincidunt sed nec orci. Maecenas lobortis eget orci vitae
            efficitur. Donec tristique lectus eu neque dignissim finibus. Cras nulla sem, pretium pellentesque est
            vel,
            laoreet finibus tellus. Fusce sodales nibh sed gravida volutpat. Maecenas accumsan massa vitae
            consectetur
            aliquet. Cras ut libero non nisi efficitur varius. Proin porta nisi elit, et elementum tellus dignissim
            ut.
            Mauris nec tristique sem.
        </div>
    </main>

    <footer>
        <div> Copyright Galway Design</div>
    </footer>
</body>

</html>